### About the suite

| Suite | \# expectations |
| -- | -- |
| {{ report.name }} | {{ report.results.0.suite | length }} |

### Results

| Unit | Validation | {%- for expectation in report.results.0.suite -%} {{ expectation.code }} | {%- endfor %}
| -- | -- | {%- for expectation in report.results.0.suite %} -- | {%- endfor %}
{%- for result in report.results %}
| {{ result.unit }} | {% if result.success %}✅{% else %}😡{% endif %} | {%- for expectation in result.suite -%} {% if expectation.success %}✅{% else %}😡{% endif %} | {%- endfor %}
{%- endfor %}
