.consent-wrapper {
  position: relative;
  border: 1px solid grey;
}

.consent-wrapper__inner {
  padding: 0 1.5rem;
}

.fr-table__overflow {
  max-height: 500px;
  overflow-y: auto;
  position: relative;
}
