[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "==5.1.6"
django-anymail = "==12.0"
django-dsfr = "==2.1.0"
django-environ = "==0.12.0"
django-extensions = "==3.2.3"
django-stubs = {extras = ["compatible-mypy"], version = "==5.1.3"}
gunicorn = "==23.0.0"
jsonschema = "==4.23.0"
mozilla-django-oidc = "==4.0.1"
psycopg = {extras = ["pool", "binary"], version = "==3.2.4"}
requests = "==2.32.3"
sentry-sdk = {extras = ["django"], version = "==2.20.0"}
types-requests = "==2.32.0.20241016"
whitenoise = "==6.9.0"

[dev-packages]
black = "==25.1.0"
django-debug-toolbar = "==5.0.1"
djlint = "==1.36.4"
factory-boy = "==3.3.3"
honcho = "==2.0.0"
mypy = "==1.15.0"
pytest = "==8.3.4"
pytest-cov = "==6.0.0"
pytest-django = "==4.9.0"
pytest-httpx = "==0.35.0"
ruff = "==0.9.5"

[requires]
python_version = "3.12"
