[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "==5.2.5"
django-anymail = "==13.0.1"
django-dsfr = "==3.0.0"
django-environ = "==0.12.0"
django-extensions = "==4.1"
django-stubs = {extras = ["compatible-mypy"], version = "==5.2.2"}
gunicorn = "==23.0.0"
jsonschema = "==4.25.1"
mozilla-django-oidc = "==4.0.1"
psycopg = {extras = ["pool", "binary"], version = "==3.2.9"}
python-dateutil = "==2.9.0.post0"
qualicharge-client = "==0.3.0"
requests = "==2.32.5"
sentry-sdk = {extras = ["django"], version = "==2.35.0"}
whitenoise = "==6.9.0"

[dev-packages]
black = "==25.1.0"
django-debug-toolbar = "==6.0.0"
djlint = "==1.36.4"
factory-boy = "==3.3.3"
honcho = "==2.0.0"
mock = "==5.2.0"
mypy = "==1.17.1"
pytest = "==8.4.1"
pytest-asyncio = "==1.1.0"
pytest-cov = "==6.2.1"
pytest-django = "==4.11.1"
pytest-httpx = "==0.35.0"
responses = "==0.25.8"
ruff = "==0.12.10"
types-mock = "==5.2.0.20250809"
types-python-dateutil = "==2.9.0.20250822"
types-requests = "==2.32.4.20250809"

[requires]
python_version = "3.12"
