{% extends "base.html" %}
{% load static i18n %}

{% comment %}
  todo: add real content to the card
{% endcomment %}

{% block content %}
    <section>
      <div class="fr-my-7w fr-mt-md-12w fr-mb-md-10w fr-grid-row">
        <div class="fr-py-0 fr-col-12 fr-col-md-6 fr-col-lg-8">
          <header>
            <h1>{% trans "Login to" %} {{ SITE_CONFIG.site_title }}</h1>

            <p class="fr-text--lead">
              {% blocktranslate trimmed %}
              Description — Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              {% endblocktranslate %}
            </p>
          </header>

          <div class="fr-connect-group fr-my-2w">
            <a href="{% url 'oidc_authentication_init' %}" class="fr-connect">
                <span class="fr-connect__login">{% trans "Log in with" %}</span>
                <span class="fr-connect__brand">ProConnect</span>
            </a>
            <p>
                <a href="https://www.proconnect.gouv.fr/"
                   target="_blank"
                   rel="noopener"
                   title="{% trans "What is ProConnect? - new window" %}">
                    {% trans "What is ProConnect?" %}
                </a>
            </p>
          </div>
        </div>

        <div class="fr-col-12 fr-col-md-3 fr-col-offset-md-1 fr-px-6w fr-px-md-0
        fr-py-0 fr-hidden fr-unhidden-md">
          <img src="{% static "dashboard/img/secure-folder.svg" %}"
               alt=""
               width="383"
               height="383">
        </div>
      </div>
    </section>
{% endblock content %}
