{% extends "base.html" %}
{% load static i18n %}

{% block page_title %}
  <title>{% trans "Permission denied" %}</title>
{% endblock page_title %}

{% block content %}
  <section>
    <div class="fr-my-7w fr-mt-md-12w fr-mb-md-10w fr-grid-row fr-grid-row--gutters fr-grid-row--middle fr-grid-row--center">
      <div class="fr-py-0 fr-col-12 fr-col-md-6">
        <h1>
          {% trans "Permission denied" %}
        </h1>
        <p class="fr-text--sm fr-mb-3w">
          {% trans "Error 403" %}
        </p>
        <p class="fr-text--lead fr-mb-3w">
          {% trans "Sorry, you are not allowed to access this page." %}
        </p>
        <p class="fr-text--sm fr-mb-5w">
          {% blocktranslate %}
        If you think this is a mistake, you can contact our team.<br />
        Otherwise, to continue your visit you can consult our home page.
      {% endblocktranslate %}
        </p>

        <ul class="fr-btns-group fr-btns-group--inline-md">
          <li>
            <a class="fr-btn" href="{% url "home:index" %}"> {% trans "Home page" %}</a>
          </li>

          <li>
            {% include "components/_contact_link.html" with link_style="btn" %}
          </li>
        </ul>

      </div>
      <div class="fr-col-12 fr-col-md-3 fr-col-offset-md-1 fr-px-6w fr-px-md-0 fr-py-0 fr-hidden fr-unhidden-md">
        <img src="{% static "dashboard/img/warning.svg" %}" width="160" height="200" alt=""/>
      </div>
    </div>
  </section>
{% endblock content %}
