[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
data7 = "==0.11.2"
psycopg = {extras = ["binary", "pool"], version = "==3.2.9"}

[dev-packages]
honcho = "==2.0.0"
setuptools = "==80.8.0"

[requires]
python_version = "3.12"
