[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
data7 = "==0.6.0"
psycopg = {extras = ["binary", "pool"], version = "==3.2.1"}

[dev-packages]
honcho = "==1.1.0"
setuptools = "==70.3.0"

[requires]
python_version = "3.12"
