{% extends "renewable/base.html" %}

{# todo: add real text content #}

{% load i18n static %}

{% block dashboard_content %}
  <div class="fr-grid-row">
    <div class="fr-col">
      <h2 id="focus-before-consents" tabindex="0">Gestion des points de livraison renouvelables</h2>

      {% if delivery_points %}
        <form action="" method="post">
          {% csrf_token %}
          {{ formset.management_form }}

          {% if formset.non_form_errors %}
            <div class="fr-messages-group" id="error-messages" aria-live="assertive">
              <div class=" fr-mb-6v">
                <ul id="message-non-field-error" class="fr-message fr-message--error">
                    {{ formset.non_form_errors }}
                </ul>
              </div>
          </div>
          {% endif %}

          {% include "renewable/includes/_manage_delivery_points.html" %}

          <ul class="fr-btns-group fr-btns-group--inline-reverse fr-btns-group--inline-lg" id="focus-after-consents" tabindex="0">
            <li>
              <button id="btn-validate" type="submit" class="fr-btn" title="{% trans "Submit" %}" name="submit">
                {% trans "Submit" %}
              </button>
            </li>
            <li>
              <a class="fr-btn fr-btn--secondary" title="{% trans "Back" %}"
                 href="{% url "renewable:index" %}" data-fr-js-link-actionee="true">
                {% trans "Back" %}
              </a>
            </li>
          </ul>
        </form>
      {% else %}
        {% include "renewable/includes/_no_data_card.html" with description="Aucun point de livraison." %}
      {% endif %}
    </div>
  </div>
{% endblock dashboard_content %}

{% block dashboard_extra_js %}
  {% if entity %}
    <script src="{% static 'apps/core/js/app.js' %}"></script>
  {% endif %}
{% endblock dashboard_extra_js %}
