{% extends "base.html" %}
{% load static i18n %}

{% block page_title %}
  <title>{% trans "Account not validated" %}</title>
{% endblock page_title %}

{% block content %}
  <main role="main" id="content">
    <div class="fr-container">
      <div class="fr-my-7w fr-mt-md-12w fr-mb-md-10w fr-grid-row fr-grid-row--gutters fr-grid-row--middle fr-grid-row--center">
        <div class="fr-py-0 fr-col-12 fr-col-md-6">
          <h1>
            {% trans "Your account is not validated" %}
          </h1>
          <p class="fr-text fr-mb-3w">
            {% trans "We are sorry, but your account has not been validated yet." %}
          </p>
          <p class="fr-text fr-mb-3w">
            {% blocktrans %}
            If this is your first time logging in, this is expected.<br />
            An administrator needs to validate your account, and you will receive an email notification once this has been completed.
            {% endblocktrans %}
          </p>
          <p class="fr-text fr-mb-5w">
            {% trans "If you think this is a mistake, you can contact our team." %}
          </p>

          <ul class="fr-btns-group fr-btns-group--inline-md">
            <li>
              <a class="fr-btn fr-btn--secondary" href="mailto:{{ contact_email }}" target="_blank">
                {% trans "Contact us" %}
              </a>
            </li>
          </ul>

        </div>
        <div class="fr-col-12 fr-col-md-3 fr-col-offset-md-1 fr-px-6w fr-px-md-0 fr-py-0">
          <img src="{% static "dashboard/img/secure-folder.svg" %}" width="383" height="383" alt=""/>
        </div>
      </div>
    </div>
  </main>
{% endblock content %}
