[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "==1.13.2"
annotated-types = "==0.7.0"
email-validator = "==2.2.0"
fastapi = "==0.112.0"
geoalchemy2 = {extras = ["shapely"], version = "==0.15.2"}
geopandas = "==1.0.1"
httpx = {extras = ["cli"], version = "==0.27.0"}
pandas = "==2.2.2"
passlib = {extras = ["bcrypt"], version = "==1.7.4"}
psycopg = {extras = ["pool", "binary"], version = "==3.2.1"}
pyarrow = "==17.0.0"
pydantic-extra-types = {extras = ["all"], version = "==2.9.0"}
pydantic-settings = "==2.4.0"
pyjwt = "==2.9.0"
python-multipart = "==0.0.9"
questionary = "==2.0.1"
sentry-sdk = {extras = ["fastapi"], version = "==2.13.0"}
setuptools = "==72.2.0"
sqlalchemy-timescaledb = "==0.4.1"
sqlmodel = "==0.0.21"
typer = "==0.12.3"
uvicorn = {extras = ["standard"] }

[dev-packages]
black = "==24.8.0"
csvkit = "==2.0.1"
honcho = "==1.1.0"
mypy = "==1.11.1"
polyfactory = "==2.16.2"
pytest = "==8.3.2"
pytest-cov = "==5.0.0"
pytest-httpx = "==0.30.0"
ruff = "==0.5.7"
types-passlib = "==1.7.7.20240327"
types-python-jose = "==3.3.4.20240106"

[requires]
python_version = "3.12"
