{% load i18n %}

{% if entities %}
  <strong class="fr-mt-2w">Autoriser la DGEC à suivre vos unités d’exploitation</strong>

  <div class="fr-table fr-table--no-caption fr-table--bordered">
    <div class="fr-table__wrapper">
      <div class="fr-table__container">
        <div class="fr-table__content">

          <table>
            <caption>Autoriser la DGEC à suivre vos unités d’exploitation</caption>
            <thead>
              <tr>
                <th>
                  <div class="fr-cell__title">Unités d’exploitation</div>
                </th>
                <th>
                  <div class="fr-cell__title fr-cell--center">
                    Nombre de points de livraison en attente
                  </div>
                </th>
                <th>
                  <div class="fr-cell__title fr-cell--center">
                    Action
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              {% for entity in entities %}
                {% if entity.count_awaiting_consents %}
                <tr id="undefined-row-key-{{ forloop.counter }}" data-row-key="forloop.counter">
                  <td>
                    {# todo: change entity.name with the "unité fonctionnel" id#}
                    <p>{{ entity.name }}</p>
                  </td>
                  <td class="fr-cell--center">
                    <p class="fr-badge fr-badge--new">
                      {% with consent_total=entity.get_consents.count entity_count=entity.count_awaiting_consents pluralize=entity.count_awaiting_consents|pluralize %}
                      {{ entity_count }} PDL en attente sur {{ consent_total }}
                      {% endwith %}
                    </p>
                  </td>
                  <td class="fr-cell--center">
                    <a class="fr-link fr-icon-arrow-right-line fr-link--icon-right"
                       href="{% url "consent:manage" entity.slug %}"
                       data-fr-js-link-actionee="true">
                      Gérer les autorisations
                    </a>
                  </td>
                </tr>
                {% endif %}
              {% endfor %}
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
{% endif %}
