{% load i18n %}

<div class="fr-card">
  <div class="fr-card__body">

    <div class="fr-card__content">
      <h3 class="fr-card__title">
        {{ resume_title }}
      </h3>

      {% if resume_description %}
        <p class="fr-card__desc">
          {{ resume_description }}
        </p>
      {% endif %}

      {# validated consent - no items #}
      {% if not has_validated_consent %}
        {% include "consent/includes/_no_data_card.html" with description="Aucune station suivie." %}
      {% endif %}
    </div>

    <div class="fr-card__footer">
      {% include "consent/includes/_consent_summary_validated_card_content.html" %}
    </div>

  </div>
</div>
