{% load i18n %}

{% comment %}
    Note: all texts of this page are intended to appear in a contract and must
    therefore be in French and non-translatable.
{% endcomment %}

<div class="fr-fieldset__element fr-my-4w">
  <legend class="fr-fieldset__legend" id="text-legend">
    A. Points de livraison à valider
  </legend>

  <p>
    Cochez les lignes correspondant aux PRMs pour lesquelles vous autorisez expressément
    la DGEC à demander et à recevoir la communication des données mentionnées au point D.
  </p>

  {# toggle button #}
  <div class="fr-checkbox-group fr-mb-2v">
    <input type="checkbox" id="toggle-all" name="toggle-all"
           aria-describedby="toggle-all-messages"
           data-fr-js-checkbox-input="true"
           data-fr-js-checkbox-actionee="true">
    <label class="fr-label" for="toggle-all"><strong>{% trans "Toggle All" %}</strong></label>
  </div>

  {# delivery points #}
  <div class="consent-wrapper fr-py-6v fr-mb-6v">
    <div class="consent-wrapper__inner">
      {% for entity in entities %}
      <fieldset class="fr-fieldset" id="checkboxes" aria-labelledby="checkboxes-legend checkboxes-messages">
        <legend class="fr-fieldset__legend--regular fr-fieldset__legend" id="checkboxes-legend">{{ entity.name }}</legend>

        {% for consent in entity.get_consents %}
        <div class="fr-fieldset__element">
          <div class="fr-checkbox-group">
            <input type="checkbox"
                   name="status"
                   value="{{ consent.id }}"
                   id="{{ consent.id }}"
                   {% if consent.status == 'VALIDATED' %} checked="checked" disabled="disabled"{% endif %}
                   aria-describedby="{{ consent.id }}-messages"
                   data-fr-js-checkbox-input="true"
                   data-fr-js-checkbox-actionee="true" />
            <label class="fr-label" for="{{ consent.id }}"
                   {% if consent.status == 'VALIDATED' %}
                     title="{% trans "Point de livraison déjà validé." %}"
                   {% elif consent.status == 'AWAITING' %}
                     title="{% trans "Point de livraison en attende de validation." %}"
                   {% endif %}>
              {{ consent.delivery_point.provider_assigned_id }}
            </label>
            <div class="fr-messages-group" id="{{ consent.id }}-messages" aria-live="assertive"></div>
          </div>
        </div>
        {% endfor %}
      </fieldset>
      {% endfor %}
    </div>
  </div>

</div>
