{% load i18n consent_filters %}

{% comment %}
    Note: all texts of this page are intended to appear in a contract and must
    therefore be in French and non-translatable.
{% endcomment %}

<div class="fr-fieldset__element fr-my-4w" id="pdl-component">
  <legend class="fr-fieldset__legend" id="text-legend">
    A. Points de livraison (PDL) à valider
  </legend>

  <p>
    Cochez les lignes correspondant aux PDL pour lesquelles vous autorisez expressément
    la DGEC à demander et à recevoir la communication des données mentionnées au point D.
  </p>

  <div class="fr-table fr-table--no-caption" id="table-prm-component">
    <div class="fr-table__wrapper">
      <div class="fr-table__container">
        <div class="fr-table__content fr-table__overflow" tabindex="0">

          <table id="table-prm" aria-labelledby="table-prm-caption">
            <caption id="table-prm-caption"> Points de livraison à valider </caption>

            <thead>
              <tr>
                <th class="fr-cell--fixed fr-cell--center" role="columnheader" scope="col">
                  <div class="fr-checkbox-group fr-checkbox-group--sm">
                    <input type="checkbox" id="toggle-all" name="toggle-all"
                           aria-describedby="toggle-all-messages"
                           data-fr-js-checkbox-input="true"
                           data-fr-js-checkbox-actionee="true"
                           title="{% trans "Toggle all" %}">
                    <label class="fr-label" for="toggle-all">
                      {% trans "Toggle All" %}
                    </label>
                  </div>
                </th>
                <th scope="col">
                  <div class="fr-cell__title">Noms et Identifiants de station</div>
                </th>
                <th scope="col">
                  <div class="fr-cell__title">Identifiant du PDL</div>
                </th>
                <th scope="col">
                  <div class="fr-cell__title">Période d'autorisation</div>
                </th>
              </tr>
            </thead>

            <tbody>
              {% for consent in consents|sort_by_station %}
                <tr id="table-prm-row-key-{{ forloop.counter }}"
                    data-row-key="{{ forloop.counter }}"
                    aria-labelledby="row-label-{{ forloop.counter }}"
                    {% if consent.status == "VALIDATED" %}
                      title="Point de livraison déjà validé."
                      aria-label="Point de livraison déjà validé."
                    {% elif consent.status == "AWAITING" %}
                      title="Point de livraison en attente de validation."
                      aria-label="Point de livraison en attente de validation."
                    {% endif %}>

                  <th class="fr-cell--fixed fr-cell--center" scope="row">
                    <div class="fr-checkbox-group fr-checkbox-group--sm">
                      <input type="checkbox"
                       name="status"
                       value="{{ consent.id }}"
                       id="{{ consent.id }}"
                       {% if consent.status == "VALIDATED" %} checked="checked" disabled="disabled"{% endif %}
                       aria-describedby="{{ consent.id }}-messages"
                       data-fr-js-checkbox-input="true"
                       data-fr-js-checkbox-actionee="true"
                       {% if consent.status == "VALIDATED" %}
                          title="Point de livraison déjà validé."
                          aria-label="Point de livraison validé, case à cocher désactivée."
                       {% elif consent.status == "AWAITING" %}
                          title="Point de livraison en attente de validation."
                          aria-label="Point de livraison en attente de validation."
                       {% endif %}
                      />

                      <label class="fr-label" for="{{ consent.id }}"
                        {% if consent.status == "VALIDATED" %}
                          title="Point de livraison déjà validé."
                        {% elif consent.status == "AWAITING" %}
                          title="Point de livraison en attente de validation."
                        {% endif %}>
                        Sélectionner le PDL {{ consent.provider_assigned_id }}
                      </label>
                    </div>
                  </th>
                  <td>
                    {% for station_name, ids in consent.stations_grouped.items %}
                      {% if forloop.counter0 > 0 %}<br />{% endif %}
                      {{ station_name }}
                      {% if ids %}
                        (
                        {% for id in ids %}
                          {{ id }}{% if not forloop.last %}, {% endif %}
                          {% if forloop.counter|divisibleby:3 and not forloop.last %}<br>{% endif %}
                        {% endfor %}
                        )
                      {% endif %}
                    {% endfor %}
                  </td>
                  <td> {{ consent.provider_assigned_id }}</td>
                  <td> du {{ consent.start|date:'d/m/Y' }} au {{ consent.end|date:'d/m/Y' }} </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="fr-table__footer">
      <div class="fr-table__footer--start">
        <p class="fr-table__detail">
          <span id="checked-count">0</span> / {{ consents|length }} sélectionné(s)
        </p>
      </div>
    </div>

  </div>
</div>
