{% load i18n dsfr_tags static %}

{% comment %}
todo: add an image to the card
{% endcomment %}

{% url 'consent:index' as consent_index_url %}
{% static "/dashboard/img/agreement.svg" as agreement_img %}

{% with consent_card_title="Gestion du consentement" consent_card_description="Autoriser la DGEC à interroger le gestionnaire du réseau de distribution concernant la consommation de vos stations de recharge afin de percevoir vos certificats TIRUERT." %}
{% with extra_class="fr-card--horizontal" %}

  {% dsfr_card title=consent_card_title link=consent_index_url description=consent_card_description extra_class=extra_class image_url=agreement_img top_detail=top_detail %}

{% endwith %}
{% endwith %}
