{% load i18n dashboard_filters %}

{# todo: review the useful cols and data to display in the table #}
{# todo: add real text content #}

<div class="fr-fieldset__element fr-my-4w" id="pdl-component">
  <legend class="fr-fieldset__legend" id="text-legend">
    Relevés de production à communiquer
  </legend>

  <p>
    Remplissez les relevés de production correspondant aux PDL.
  </p>

  <div class="fr-table fr-table--no-caption" id="table-prm-component">
    <div class="fr-table__wrapper">
      <div class="fr-table__container">
        <div class="fr-table__content fr-table__overflow" tabindex="0">

          <table id="table-prm" aria-labelledby="table-prm-caption">
            <caption id="table-prm-caption"> Points de livraison à valider </caption>

            <thead>
              <tr>
                  <th scope="col">
                  <div class="fr-cell__title">Nom / identifiants de la station</div>
                </th>
                <th scope="col">
                  <div class="fr-cell__title">Identifiant du PDL</div>
                </th>
                <th scope="col">
                  <div class="fr-cell__title">Période d'autorisation</div>
                </th>
                <th scope="col">
                  <div class="fr-cell__title">Relevé précédent (kWh)</div>
                </th>
                <th>
                  <div class="fr-cell__title">Date du relevé</div>
                </th>
                <th scope="col">
                  <div class="fr-cell__title">Relevé de production (kWh)</div>
                </th>
              </tr>
            </thead>

            <tbody>
              {% for renewable_dp in renewable_delivery_points|sort_by_station %}
              <tr id="table-prm-row-key-{{ forloop.counter }}"
                  data-row-key="{{ forloop.counter }}"
                  aria-labelledby="row-label-{{ forloop.counter }}">
                <td>
                  {% for station_name, ids in renewable_dp.stations_grouped.items %}
                    {% if forloop.counter0 > 0 %}<br />{% endif %}
                    {{ station_name }} {% if ids %}({{ ids|join:", " }}){% endif %}
                  {% endfor %}
                </td>
                <td id="provider_assigned_id">
                  {{ renewable_dp.provider_assigned_id }}
                  <input type="hidden" name="delivery_point_ids" value="{{ renewable_dp.id }}">
                </td>
                <td>
                  {# todo: add templatetag to get actual period #}
                  -
                  {# 1er trimestre 2025<br />#}
                  {# du 01/01/2025 au 31/03/2025#}
                </td>
                <td>
                {# todo: add the previous renewable meters and their date #}
                  -
                  {# 5698.45 kWh#}
                </td>
                               <td>
                  {% with field_name="collected_at_"|concatenate:renewable_dp.id %}
                    <div class="fr-input-group{% if form.field_errors|get_item:field_name %} fr-input-group--error{% endif %}">
                    <input type="date"
                       name="collected_at_{{ renewable_dp.id }}"
                       class="fr-input{% if form.field_errors|get_item:field_name %} fr-input--error{% endif %}"
                       {% if form.field_errors|get_item:field_name %}aria-describedby="{{ field_name }}-desc-error"{% endif %}
                       value="{% if form.is_bound %}{{ form.data|get_item:field_name }}{% endif %}" />

                    {% if form.field_errors|get_item:field_name %}
                      <p class="fr-error-text">{{ form.field_errors|get_item:field_name }}</p>
                    {% endif %}
                  </div>
                  {% endwith %}
                </td>
                <td>
                  {% with field_name="meter_reading_"|concatenate:renewable_dp.id %}
                    <div class="fr-input-group{% if form.field_errors|get_item:field_name %} fr-input-group--error{% endif %}">
                    <input type="number"
                           step="0.01"
                           min="0"
                           name="meter_reading_{{ renewable_dp.id }}"
                           maxlength="150"
                           class="fr-input{% if form.field_errors|get_item:field_name %} fr-input--error{% endif %}"
                           {% if form.field_errors|get_item:field_name %}aria-describedby="{{ field_name }}-desc-error"{% endif %}
                           placeholder="0"
                           value="{% if form.is_bound %}{{ form.data|get_item:field_name }}{% endif %}" />

                    {% if form.field_errors|get_item:field_name %}
                      <p id="{{ field_name }}-desc-error" class="fr-error-text">{{ form.field_errors|get_item:field_name }}</p>
                    {% endif %}
                  </div>
                  {% endwith %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
