{% load i18n dashboard_filters %}

{# todo: review the useful cols and data to display in the table #}
{# todo: add real text content #}

<div class="fr-fieldset__element fr-my-4w" id="pdl-component">
  <legend class="fr-fieldset__legend" id="text-legend">
    Relevés de production à communiquer
  </legend>

  <p>
    Remplissez les relevés de production correspondant aux PDL.
  </p>

  <div class="fr-table fr-table--no-caption" id="table-prm-component">
    <div class="fr-table__wrapper">
      <div class="fr-table__container">
        <div class="fr-table__content fr-table__overflow" tabindex="0">

          <table id="table-prm" aria-labelledby="table-prm-caption">
            <caption id="table-prm-caption"> Points de livraison à valider </caption>

            <thead>
              <tr>
                  <th scope="col">
                  <div class="fr-cell__title">Nom / identifiants de la station</div>
                </th>
                <th scope="col">
                  <div class="fr-cell__title">Identifiant du PDL</div>
                </th>
                <th scope="col">
                  <div class="fr-cell__title">Période d'autorisation</div>
                </th>
                <th scope="col">
                  <div class="fr-cell__title">Relevé précédent (kWh)</div>
                </th>
                <th>
                  <div class="fr-cell__title">Date du relevé</div>
                </th>
                <th scope="col">
                  <div class="fr-cell__title">Relevé de production (kWh)</div>
                </th>
              </tr>
            </thead>

            <tbody>
              {% for form in formset %}
              <input type="hidden" name="form-{{ forloop.counter0 }}-delivery_point" value="{{ form.delivery_point_obj.id }}">
              <tr id="table-prm-row-key-{{ forloop.counter0 }}"
                  data-row-key="{{ forloop.counter0 }}"
                  aria-labelledby="row-label-{{ forloop.counter0 }}">

                <td>
                  {% for station_name, ids in form.stations_grouped.items %}
                    {% if forloop.counter0 > 0 %}<br />{% endif %}
                    {{ station_name }} {% if ids %}({{ ids|join:", " }}){% endif %}
                  {% endfor %}
                </td>

                <td id="provider_assigned_id">
                  {{ form.delivery_point_obj.provider_assigned_id }}
                  <input type="hidden" name="delivery_point_ids" value="{{ form.delivery_point_obj.id }}">
                </td>

                <td>
                  {# todo: add templatetag to get actual period #}
                  -
                  {# 1er trimestre 2025<br />#}
                  {# du 01/01/2025 au 31/03/2025#}
                </td>

                <td>
                {# todo: add the previous renewable meters and their date #}
                  -
                  {# 5698.45 kWh#}
                </td>
                <td>
                  <div class="fr-input-group{% if form.collected_at.errors %} fr-input-group--error{% endif %}">
                    {{ form.collected_at }}
                    {% if form.collected_at.errors %}
                      <ul class="fr-error-text">{{ form.collected_at.errors }}</ul>
                    {% endif %}
                  </div>
                </td>

                <td>
                  <div class="fr-input-group{% if form.meter_reading.errors %} fr-input-group--error{% endif %}">
                    {{ form.meter_reading }}
                    {% if form.meter_reading.errors %}
                        <ul class="fr-error-text">{{ form.meter_reading.errors }}</ul>
                    {% endif %}
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>
