{% extends "consent/base.html" %}

{% load i18n %}

{% block dashboard_content %}
  {# awaiting consent card #}
  <div class="fr-grid-row fr-grid-row--gutters fr-mb-1w">
    <div class="fr-col-md-12 fr-col-12">
      {% with resume_title="Autorisations en attente" %}
      {% with resume_description="Afficher les stations déclarées via l'API et permettre à la DGEC de recevoir les données du gestionnaire du réseau de distribution afin de suivre la consommation." %}
        {% include "consent/includes/_consent_summary_awaiting_card.html" with resume_title=resume_title resume_description=resume_description %}
      {% endwith %}
      {% endwith %}
    </div>
  </div>

  {# upcoming consent card #}
  {% if has_upcoming_consent %}
  <div class="fr-grid-row fr-grid-row--gutters fr-mb-1w">
    <div class="fr-col-md-12 fr-col-12">
      {% with resume_title="Autorisations à venir" %}
      {% with resume_description="Afficher les stations déclarées via l'API et permettre à la DGEC de recevoir les données du gestionnaire du réseau de distribution afin de suivre la consommation pour la prochaine période." %}
        {% include "consent/includes/_consent_summary_upcoming_card.html" with resume_awaiting=True resume_title=resume_title resume_description=resume_description %}
      {% endwith %}
      {% endwith %}
    </div>
  </div>
  {% endif %}

  {# validated consent card #}
  <div class="fr-grid-row fr-grid-row--gutters fr-mb-1w">
    <div class="fr-col-md-12 fr-col-12">
      {% with resume_title="Stations suivies" %}
      {% with resume_description="Accéder à la liste des stations pour lesquelles la DGEC consulte le gestionnaire de réseau et émet des certificats." %}
        {% include "consent/includes/_consent_summary_validated_card.html" with resume_title=resume_title resume_description=resume_description %}
      {% endwith %}
      {% endwith %}
    </div>
  </div>
{% endblock dashboard_content %}
