{% extends "consent/base.html" %}

{% comment %}
    Note: all texts of this page are intended to appear in a contract and must
    therefore be in French and non-translatable.
{% endcomment %}

{% load i18n static %}

{% block dashboard_content %}
  <h2>Gérer les autorisations</h2>

  <p>
    Indiquez les points de livraison pour lesquels vous autorisez la DGEC à interroger
    le gestionnaire du réseau de distribution.
  </p>

  {% if entities %}
    <form action="" method="post">
      {% csrf_token %}

      {% if form.errors %}
        <div class="fr-messages-group" id="error-messages" aria-live="assertive">
          <div class="{% if form.consent_agreed.errors %}fr-pl-3v{% endif %} fr-mb-6v">
            <ul id="message-non-field-error">
              <li class="fr-message fr-message--error" id="message-error">
                {% trans "The form contains errors" %}
              </li>
              {% if form.non_field_errors %}
                  {% for error in form.non_field_errors %}
                  <li class="fr-message fr-message--error">{{ error }}</li>
                {% endfor %}
              {% endif %}
            </ul>
          </div>
      </div>
      {% endif %}

      {% include "consent/includes/_manage_consents.html" %}
      {% include "consent/includes/_manage_company_informations.html" %}
      {% include "consent/includes/_manage_consents_control_authority.html" %}
      {% include "consent/includes/_manage_authorisations.html" %}

      <button type="submit" class="fr-btn" title="{% trans "submit" %}" name="submit">
        {% trans "submit" %}
      </button>
    </form>
  {% else %}
    <p>{% trans "No consents to validate" %}</p>
  {% endif %}
{% endblock dashboard_content %}

{% block dashboard_extra_js %}
  {% if entities %}
    <script src="{% static 'apps/consent/js/app.js' %}"></script>
  {% endif %}
{% endblock dashboard_extra_js %}
