{% load i18n %}
<div class="fr-header__menu fr-modal"
     id="fr-menu-mobile"
     aria-labelledby="fr-btn-menu-mobile">
  <div class="fr-container">
    <button type="button"
            class="fr-btn--close fr-btn"
            aria-controls="fr-menu-mobile">
      {% trans "close" %}
    </button>
    <div class="fr-header__menu-links">
    </div>
    {% translate "Main menu" as main_menu_label %}
    <nav role="navigation"
         class="fr-nav"
         id="fr-navigation"
         aria-label="{{ main_menu_label }}">
      <ul class="fr-nav__list">
        {% if request.user.is_authenticated %}
          <li class="fr-nav__item">
            {% url 'home:index' as home_url %}
            <a class="fr-nav__link"
               href="{{ home_url }}"
               target="_self"
               {% if request.path == home_url %}aria-current="true"{% endif %}>{% trans "Home" %}</a>
          </li>
        {% endif %}
      </ul>
    </nav>
  </div>
</div>
