[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
data7 = "==0.12.1"
geoalchemy2 = {extras = ["shapely"], version = "==0.18.0"}
geopandas = "==1.1.1"
great_expectations = {extras = ["postgresql"], version = "==1.8.0"}
pandas = "==2.1.4"
prefect = "==3.4.25"
psycopg = {extras = ["pool", "binary"], version = "==3.2.11"}
pyarrow = "==20.0.0"
pydantic = "==2.12.3"
s3fs = "==2025.9.0"
tabulate = "==0.9.0"

[dev-packages]
black = "==25.9.0"
freezegun = "==1.5.5"
honcho = "==2.0.0"
mypy = "==1.18.2"
pandas-stubs = "==2.3.2.250926"
pytest = "==8.4.2"
pytest-cov = "==7.0.0"
ruff = "==0.14.2"
setuptools = "==80.9.0"
types-python-dateutil = "*"

[requires]
python_version = "3.12"
