[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
data7 = "==0.12.1"
geoalchemy2 = {extras = ["shapely"], version = "==0.18.0"}
geopandas = "==1.1.1"
great_expectations = {extras = ["postgresql"], version = "==1.5.9"}
pandas = "==2.3.2"
prefect = "==3.4.14"
psycopg = {extras = ["pool", "binary"], version = "==3.2.9"}
pyarrow = "==21.0.0"
pydantic = "==2.11.7"
s3fs = "==2025.7.0"
tabulate = "==0.9.0"

[dev-packages]
black = "==25.1.0"
freezegun = "==1.5.5"
honcho = "==2.0.0"
mypy = "==1.17.1"
pandas-stubs = "==2.3.0.250703"
pytest = "==8.4.1"
pytest-cov = "==6.2.1"
ruff = "==0.12.10"
setuptools = "==80.9.0"
types-python-dateutil = "*"

[requires]
python_version = "3.12"
