{% extends "home/base.html" %}

{% load i18n %}

{% block dashboard_content %}
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-md-12">
      <h2>
        {% trans "QualiCharge dashboard" %}
      </h2>
    </div>
  </div>

  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12 fr-col-md-6">
      {% include "home/cards/consent.html" %}
    </div>

      <div class="fr-col-12 fr-col-md-6">
      {% include "home/cards/renewable.html" %}
    </div>
  </div>
{% endblock dashboard_content %}
