name: Chore checks

on:
  push:
    branches-ignore: ["main"]
  pull_request:
    branches-ignore: ["main"]

permissions:
  contents: read

jobs:
  fixup-commits:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Check absence of fixup commits
        run: |
          ! git log --pretty=format:%s | grep 'fixup!'

  check-changelog:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Check that a CHANGELOG has been modified in the current branch
        run: |
          git diff --name-only origin/main | grep CHANGELOG

  lint-changelog:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: Check API CHANGELOG max line length
        run: |
          test $(cat src/api/CHANGELOG.md | grep -Ev "^\[.*\]: https://github.com/MTES-MCT/qualicharge" | wc -L) -le 80
      - name: Check client CHANGELOG max line length
        run: |
          test $(cat src/client/CHANGELOG.md | grep -Ev "^\[.*\]: https://github.com/MTES-MCT/qualicharge" | wc -L) -le 80
