# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: QCC

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
    paths:
      - "src/client/**"

permissions:
  contents: read

jobs:
  build-client:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./src/api
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: Install uv
        uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0
        with:
          version: "0.10.4"
          enable-cache: true
      - name: Set up Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version-file: "./src/client/.python-version"
      - name: Install the project
        run: uv sync --locked --all-extras --dev

  lint-client:
    needs: build-client
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./src/client
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: Install uv
        uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0
        with:
          version: "0.10.4"
          enable-cache: true
      - name: Set up Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version-file: "./src/client/.python-version"
      - name: Lint with Black
        run: uv run black --check qcc tests
      - name: Lint with Ruff
        run: uv run ruff check qcc tests
      - name: Lint with MyPy
        run: uv run mypy qcc tests

  test-client:
    needs: build-client
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./src/client
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: Install uv
        uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0
        with:
          version: "0.10.4"
          enable-cache: true
      - name: Set up Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version-file: "./src/client/.python-version"
      - name: Test with pytest
        run: uv run pytest
