# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: QCC

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
    paths:
      - "src/client/**"

permissions:
  contents: read

jobs:
  build-client:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./src/api
    steps:
      - uses: actions/checkout@v5
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.8"
          enable-cache: true
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: "./src/client/.python-version"
      - name: Install the project
        run: uv sync --locked --all-extras --dev

  lint-client:
    needs: build-client
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./src/client
    steps:
      - uses: actions/checkout@v5
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.8"
          enable-cache: true
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: "./src/client/.python-version"
      - name: Lint with Black
        run: uv run black --check qcc tests
      - name: Lint with Ruff
        run: uv run ruff check qcc tests
      - name: Lint with MyPy
        run: uv run mypy qcc tests

  test-client:
    needs: build-client
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./src/client
    steps:
      - uses: actions/checkout@v5
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.8"
          enable-cache: true
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: "./src/client/.python-version"
      - name: Test with pytest
        run: uv run pytest
