# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Prefect

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
    paths:
      - "src/prefect/**"

permissions:
  contents: read

jobs:
  build-prefect:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./src/prefect
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Install uv
        uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6
        with:
          version: "0.9.17"
          enable-cache: true
      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version-file: "./src/prefect/.python-version"
      - name: Install the project
        run: uv sync --locked --all-extras --dev

  lint-prefect:
    needs: build-prefect
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./src/prefect
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Install uv
        uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6
        with:
          version: "0.9.17"
          enable-cache: true
      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version-file: "./src/prefect/.python-version"
      - name: Lint with Black
        run: uv run black --check indicators tests
      - name: Lint with Ruff
        run: uv run ruff check indicators tests
      - name: Lint with MyPy
        run: uv run mypy indicators tests

  test-prefect:
    needs: build-prefect
    runs-on: ubuntu-latest
    services:
      postgresql:
        image: timescale/timescaledb-ha:pg15-ts2.19-oss
        env:
          POSTGRES_DB: qualicharge-api
          POSTGRES_USER: qualicharge
          POSTGRES_PASSWORD: pass
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
      minio:
        image: "bitnamilegacy/minio:2025.4.22"
        env:
          MINIO_ROOT_USER: qualicharge
          MINIO_ROOT_PASSWORD: password
        ports:
          - 9000:9000
    defaults:
      run:
        working-directory: ./src/prefect
    env:
      QUALICHARGE_API_DATABASE_URLS__test: "postgresql+psycopg://qualicharge:pass@localhost:5432/qualicharge-api"
      QUALICHARGE_API_ACTIVE_ENVIRONMENTS: '["test"]'
      QUALICHARGE_INDICATORS_DATABASE_URL: "postgresql+psycopg://qualicharge:pass@localhost:5432/qualicharge-indicators"
      QUALICHARGE_API_DATABASE_URL_NO_DRIVER: "postgresql://qualicharge:pass@localhost:5432/qualicharge-api"
      DATA7_SCHEMA_SNIFFER_SIZE: 1000
      DATA7_DEFAULT_DTYPE_BACKEND: pyarrow
      S3_ENDPOINT_URL: "http://localhost:9000"
      AWS_ACCESS_KEY_ID: qualicharge
      AWS_SECRET_ACCESS_KEY: password
      CARBURE_ROOT_URL: "http://localhost:8088"
      CARBURE_USER__API_KEY: supersecretsecret
      CARBURE_USER__EMAIL: foo@example.org
      CARBURE_USER__PASSWORD: supersecret
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Create Indicators database
        run: |
          psql "postgresql://qualicharge:pass@localhost:5432/postgres" -c 'create database "qualicharge-indicators"'
      - name: Restore database dump
        run: |
          pg_restore -s -F c -d "${QUALICHARGE_API_DATABASE_URL_NO_DRIVER}" ../../data/qualicharge-api-schema.sql
          pg_restore -a -F c -d "${QUALICHARGE_API_DATABASE_URL_NO_DRIVER}" ../../data/qualicharge-api-data.sql
          psql "postgresql://qualicharge:pass@localhost:5432/qualicharge-api" -c "REFRESH MATERIALIZED VIEW Statique;"
      - name: Create expected buckets
        run: |
          aws --endpoint-url "${S3_ENDPOINT_URL}" s3 ls
          aws --endpoint-url "${S3_ENDPOINT_URL}" s3 mb "s3://qualicharge-indicators"
          aws --endpoint-url "${S3_ENDPOINT_URL}" s3 mb "s3://qualicharge-sessions"
          aws --endpoint-url "${S3_ENDPOINT_URL}" s3 mb "s3://qualicharge-statuses"
          aws --endpoint-url "${S3_ENDPOINT_URL}" s3 ls
      - name: Install uv
        uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6
        with:
          version: "0.9.17"
          enable-cache: true
      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version-file: "./src/prefect/.python-version"
      - name: Test with pytest
        run: uv run pytest
