name: Publish python packages

on:
  push:
    tags:
      - 'v*-client'

permissions:
  contents: read

jobs:
  release-build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./src/client
    steps:
      - uses: actions/checkout@v5
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.7"
          enable-cache: true
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: "./src/api/.python-version"
      - name: Build release distributions
        run: uv build
      - name: Upload dists
        uses: actions/upload-artifact@v5
        with:
          name: release-dists
          path: src/client/dist/

  pypi-publish:
    runs-on: ubuntu-latest
    needs:
      - release-build
    permissions:
      id-token: write
    steps:
      - name: Retrieve release distributions
        uses: actions/download-artifact@v6
        with:
          name: release-dists
          path: src/client/dist/
      - name: Publish release distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: src/client/dist/
